/*== RESET ==*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html{
	font-size: 16px;
	color: #333;
}

/*== BORDER BOX ==*/
*, *:before, *:after {
	box-sizing: border-box;
}

/*== PAGE STRUCTURE ==*/
body{
	width: 100vw;
	height: auto;
	text-align: center;
	overflow-x: hidden;
}
h1 {
	font-size: 2.5rem;
	margin-bottom: 16px;
}
input,p,span,table,a,tr,td{
	font-size:1rem;
}

main{
	min-width: 200px;
	max-width: 450px;
	margin: 5rem auto 0;
	padding: 0 2rem;
}


#bookRegisterForm label{
	display: block;
	text-align: left;
	padding-bottom:16px;
	color: #333;
}
#bookRegisterForm>label>span{
	font-weight: bold;
}
#bookRegisterForm input{
	width: 100%;
	border: 1px solid #e8e8e8;
	padding: 5px;
	margin-top: 8px;
	font-family: 'Book Antiqua', serif;
	letter-spacing: 0.8px;
}
#bookRegisterForm input[type=submit]{
	background: #009688;
	color: white;
	cursor: pointer;
	border: none;
}

table{
	width: 100%;
	margin-top: 2rem;
}
thead{
	font-weight: bold;
}
tr{
	border-top:1px solid #dedede;
}
td{
	text-align: left;
	padding: 5px 2px;
}

a.delete {
	background: #e02727;
	color: white;
	text-decoration: none;
	padding: 0.2rem 0.5rem;
	text-align: center;
	font-size: 0.5rem;
	font-family: sans-serif;
}